<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A Vanilla-CSS component library that is build using HTML and CSS only to get started with building your components fast and in modular way.">

    <link rel="shortcut icon" href="../../assets/images/logo.jpg" type="image/x-icon">

    <!-- Google Font import  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Google Font import End -->

    <!-- Ion Icon import -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>


    <!-- Ion Icon import End -->

    <!-- HighlightJs import -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/dark.min.css">

    <!-- HighlightJs import End -->

    <link rel="stylesheet" href="./grid.css">
    <script defer src="../../index.js"></script>
    <title>Knight's Watch UI | Grid</title>
</head>

<body>
    <div class="container">
        <div class="menu-navigation">
            <nav class="left-nav-list">
                <span>
                    <ion-icon class="close" name="close"></ion-icon>
                </span>
                <label>Get Started</label>
                <ul>
                    <li>
                        <a href="../../guide/getStarted/getStarted.html">Installation Guide</a>
                    </li>
                    <li>
                        <a href="../../guide/colors/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="../../guide/typography/typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="../../guide/contributions/contributions.html">Git Contibutions</a>
                    </li>
                </ul>

                <label>Components</label>
                <ul>
                    <li>
                        <a href="../alert/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="../avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="../badge/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="../button/button.html">Button</a>
                    </li>
                    <li>
                        <a href="../card//card.html">Card</a>
                    </li>
                    <li>
                        <a href="#" class="active">Grid</a>
                    </li>
                    <li>
                        <a href="../image/image.html">Image</a>
                    </li>
                    <li>
                        <a href="../input/input.html">Input</a>
                    </li>
                    <li>
                        <a href="../list/list.html">List</a>
                    </li>
                    <li>
                        <a href="../navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a href="../toast/toast.html">Toast</a>
                    </li>
                </ul>
            </nav>
        </div>
        <header>
            <nav>
                <div class="nav-left">
                    <a href="../../index.html"><img src="../../assets/images/logo.jpg" alt="Logo image"></a>
                    <a href="../../index.html" class="logo-heading">Knight's Watch</a>
                </div>
                <div class="nav-right">
                    <ul>
                        <li class="nav-pills">
                            <a href="../../guide/getStarted/getStarted.html" title="Documentation">Documentation</a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://www.linkedin.com/in/aman-jain-8082b510a/" title="linkedin">LinkedIn</a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://twitter.com/_Aman__Jain" title="twitter">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right-small">
                    <div class="option-menu open">
                        <ion-icon name="menu"></ion-icon>
                    </div>
                    <ul>
                        <li class="nav-pills">
                            <a href="../../guide/getStarted/getStarted.html" title="Documentation">
                                <ion-icon name="book"></ion-icon>
                            </a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://www.linkedin.com/in/aman-jain-8082b510a/" title="linkedin">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://twitter.com/_Aman__Jain" title="twitter">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="main">
            <div class="left-navigation">
                <nav class="left-nav-list">
                    <label>Get Started</label>
                    <ul>
                        <li>
                            <a href="../../guide/getStarted/getStarted.html">Installation Guide</a>
                        </li>
                        <li>
                            <a href="../../guide/colors/colors.html">Colors</a>
                        </li>
                        <li>
                            <a href="../../guide/typography/typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="../../guide/contributions/contributions.html">Git Contibutions</a>
                        </li>
                    </ul>

                    <label>Components</label>
                    <ul>
                        <li>
                            <a href="../alert/alert.html">Alert</a>
                        </li>
                        <li>
                            <a href="../avatar/avatar.html">Avatar</a>
                        </li>
                        <li>
                            <a href="../badge/badge.html">Badge</a>
                        </li>
                        <li>
                            <a href="../button/button.html">Button</a>
                        </li>
                        <li>
                            <a href="../card/card.html">Card</a>
                        </li>
                        <li>
                            <a href="#" class="active">Grid</a>
                        </li>
                        <li>
                            <a href="../image/image.html">Image</a>
                        </li>
                        <li>
                            <a href="../input/input.html">Input</a>
                        </li>
                        <li>
                            <a href="../list/list.html">List</a>
                        </li>
                        <li>
                            <a href="../navigation/navigation.html">Navigation</a>
                        </li>
                        <li>
                            <a href="../toast/toast.html">Toast</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-area">
                <div class="seperator">
                    <h3 class="main-heading">
                        Grids
                    </h3>
                    <p class="intro-para">
                        A grid is a set of intersecting horizontal and vertical lines defining columns and rows.
                        Elements can be placed onto the grid within these column and row lines.
                        Grids adapt to screen size and orientation, ensuring consistency across layouts.
                    </p>
                </div>

                <div class="seperator">
                    <h4 class="sub-heading">
                        Grid 2 column
                    </h4>
                    <p>
                        This grid type has 2 columns and on adding more than 2 items,new item will occupy new row.
                    <p class="usage-area">
                        Class-Usage :
                        <span>grid-2-col</span>
                    </p>
                    </p>

                    <div class="example">
                        <div class="grid grid-2-col">
                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive" />
                            
                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/>
                            
                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/>
                        </div>
                    </div>

                    <pre>
                        <code class="language-html highlight-code">
                &lt;div class="grid grid-2-col"&gt;

                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive" /&gt;
                            
                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/&gt;
                            
                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/&gt;
                &lt;/div&gt;
                        </code>
                    </pre>

                </div>

                <div class="seperator">
                    <h4 class="sub-heading">
                        Grid 3 column
                    </h4>
                    <p>
                        This grid type has 3 columns and on adding more than 3 items, new item will occupy new row.
                    <p class="usage-area">
                        Class-Usage :
                        <span>grid-3-col</span>
                    </p>
                    </p>

                    <div class="example">
                        <div class="grid grid-3-col">
                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive" />
                            
                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/>
                            
                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/>

                            <img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/>
                        </div>
                    </div>

                    <pre>
                        <code class="language-html highlight-code">
                &lt;div class="grid grid-2-col"&gt;

                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive" /&gt;
                            
                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/&gt;
                            
                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/&gt;

                        &lt;img src="https://picsum.photos/id/110/600/400" alt="sunset" class="img-responsive"/&gt;
                &lt;/div&gt;
                        </code>
                    </pre>

                </div>

            </div>
        </main>
        <footer>
            <div class="left-link">
                <a href="../button/button.html">
                    <ion-icon name="chevron-back"></ion-icon>
                    <span>Button</span>
                </a>
            </div>
            <div class="right-link">
                <a href="../image/image.html">
                    <span>Image</span>
                    <ion-icon name="chevron-forward"></ion-icon>
                </a>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>