@import url('../css/shared.css');

.avatar{
    border-radius:50%;
    height:5rem;
    width:5rem;
}

.sm{
    width:4rem;
    height:4rem;
}

.m{
    width:5rem;
    height:5rem;
}

.lg{
    width:7rem;
    height:7rem;
}

.xl{
    width:10rem;
    height:10rem;
}

.square{
    border-radius: 6px;
}

.stacked > img:first-child {
  margin: -0.6rem;
}

.stacked > img:not(:first-child) {
  margin: -0.6rem;
  box-shadow: -5px 0px 0px 3px var(--text-white);
}

.busy , .available , .offline{
    position:relative;
}


.busy::after{
    position:absolute;
    bottom:.2em;
    right:.2em;
    content:"";
    height:1.3rem;
    width:1.3rem;
    border-radius:50%;
    box-shadow: 0px 0px 0 1px var(--text-white);
    background-color: var(--danger);
}

.available::after{
    position:absolute;
    bottom:.2em;
    right:.2em;
    content:"";
    height:1.3rem;
    width:1.3rem;
    border-radius:50%;
    box-shadow: 0px 0px 0 1px var(--text-white);
    background-color: var(--success);
}

.offline::after{
    position:absolute;
    bottom:1%;
    right:1%;
    content:"";
    height:1.3rem;
    width:1.3rem;
    border-radius:50%;
    box-shadow: 0px 0px 0 1px var(--text-white);
    background-color: var(--secondary);
}