@import url('../../components/css/shared.css');

.color-palette{
    display: flex;
    width:100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.color-palette > div{
    max-width:15%;
    width:10rem;
    height:10rem;
    max-height:15%;
    display:flex;
    flex-flow: column;
    padding:1rem;
    justify-content: space-between;
    font-size: 1.4rem;
    color:var(--white);
    align-items: center;
}

.default{
    background-color:var(--btn-default);
}

.primary{
    background-color:var(--primary);
}

.secondary{
    background-color:var(--secondary);
}

.success{
    background-color:var(--success);
}

.danger{
    background-color:var(--danger);
}

.warning{
    background-color:var(--warning);
}

@media only screen and (max-width:764px){

    .color-palette > div{
        max-width: 20%;
        width:15rem;
    }

    .color-palette{
        gap:1.2rem;
        justify-content:stretch;
    }

}