@import url("../css/shared.css");

.slider {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slider ion-icon {
  font-size: 2.4rem;
}

.example {
  flex-direction: column;
}

.slider-value {
  font-size: 1.6rem;
}
