<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A Vanilla-CSS component library that is build using HTML and CSS only to get started with building your components fast and in modular way.">

    <link rel="shortcut icon" href="../../assets/images/logo.jpg" type="image/x-icon">

    <!-- Google Font import  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Google Font import End -->

    <!-- Ion Icon import -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>


    <!-- Ion Icon import End -->

    <!-- HighlightJs import -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/dark.min.css">

    <!-- HighlightJs import End -->

    <link rel="stylesheet" href="./drawer.css">
    <script defer src="../../index.js"></script>
    <script defer src="./drawer.js"></script>
    <title>Knight's Watch UI | Drawer</title>
</head>

<body>
    <div class="container">
        <div class="menu-navigation">
            <nav class="left-nav-list">
                <span>
                    <ion-icon class="close" name="close"></ion-icon>
                </span>
                <label>Get Started</label>
                <ul>
                    <li>
                        <a href="../../guide/getStarted/getStarted.html">Installation Guide</a>
                    </li>
                    <li>
                        <a href="../../guide/colors/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="../../guide/typography/typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="../../guide/contributions/contributions.html">Git Contibutions</a>
                    </li>
                </ul>

                <label>Components</label>
                <ul>
                    <li>
                        <a href="../alert/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="../avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="../badge/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="../button/button.html">Button</a>
                    </li>
                    <li>
                        <a href="../card/card.html">Card</a>
                    </li>
                    <li>
                        <a href="#" class="active">Drawer</a>
                    </li>
                    <li>
                        <a href="../grid/grid.html">Grid</a>
                    </li>
                    <li>
                        <a href="../image/image.html">Image</a>
                    </li>
                    <li>
                        <a href="../input/input.html">Input</a>
                    </li>
                    <li>
                        <a href="../list/list.html">List</a>
                    </li>
                    <li>
                            <a href="../modal/modal.html">Modal</a>
                        </li>
                    <li>
                        <a href="../navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a href="../rating/rating.html">Rating</a>
                    </li>
                    <li>
                        <a href="../slider/slider.html">Slider</a>
                    </li>
                    <li>
                        <a href="../toast/toast.html">Toast</a>
                    </li>
                </ul>
            </nav>
        </div>
        <header>
            <nav>
                <div class="nav-left">
                    <a href="../../index.html"><img src="../../assets/images/logo.jpg" alt="Logo image"></a>
                    <a href="../../index.html" class="logo-heading">Knight's Watch</a>
                </div>
                <div class="nav-right">
                    <ul>
                        <li class="nav-pills">
                            <a href="https://github.com/Aman-Jain1996" title="github">Github</a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://www.linkedin.com/in/aman-jain-8082b510a/" title="linkedin">LinkedIn</a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://twitter.com/_Aman__Jain" title="twitter">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right-small">
                    <div class="option-menu open">
                        <ion-icon name="menu"></ion-icon>
                    </div>
                    <ul>
                        <li class="nav-pills">
                            <a href="https://github.com/Aman-Jain1996" title="github"><ion-icon name="logo-github"></ion-icon></a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://www.linkedin.com/in/aman-jain-8082b510a/" title="linkedin">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                        <li class="nav-pills">
                            <a href="https://twitter.com/_Aman__Jain" title="twitter">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="main">
            <div class="left-navigation">
                <nav class="left-nav-list">
                    <label>Get Started</label>
                    <ul>
                        <li>
                            <a href="../../guide/getStarted/getStarted.html">Installation Guide</a>
                        </li>
                        <li>
                            <a href="../../guide/colors/colors.html">Colors</a>
                        </li>
                        <li>
                            <a href="../../guide/typography/typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="../../guide/contributions/contributions.html">Git Contibutions</a>
                        </li>
                    </ul>

                    <label>Components</label>
                    <ul>
                        <li>
                            <a href="../alert/alert.html">Alert</a>
                        </li>
                        <li>
                            <a href="../avatar/avatar.html">Avatar</a>
                        </li>
                        <li>
                            <a href="../badge/badge.html">Badge</a>
                        </li>
                        <li>
                            <a href="../button/button.html">Button</a>
                        </li>
                        <li>
                            <a href="../card/card.html">Card</a>
                        </li>
                        <li>
                            <a href="#" class="active">Drawer</a>
                        </li>
                        <li>
                            <a href="../grid/grid.html">Grid</a>
                        </li>
                        <li>
                            <a href="../image/image.html">Image</a>
                        </li>
                        <li>
                            <a href="../input/input.html">Input</a>
                        </li>
                        <li>
                            <a href="../list/list.html">List</a>
                        </li>
                        <li>
                            <a href="../modal/modal.html">Modal</a>
                        </li>
                        <li>
                            <a href="../navigation/navigation.html">Navigation</a>
                        </li>
                        <li>
                            <a href="../rating/rating.html">Rating</a>
                        </li>
                        <li>
                            <a href="../slider/slider.html">Slider</a>
                        </li>
                        <li>
                            <a href="../toast/toast.html">Toast</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-area">
                <div class="seperator">
                    <h3 class="main-heading">
                        Drawer
                    </h3>
                    <p class="intro-para">
                        Drawers are used especially for showing menu items on small screen sizes and it will be used inside navigation for mobile first websites.
                    </p>
                </div>

                <div class="seperator">
                    <h4 class="sub-heading">
                        Drawer for medium screen sizes
                    </h4>
                    <p>
                        This type of drawer is usually used for tablets which always have drawer visible on the left side of screen.
                    <p class="usage-area">
                        Class-Usage :
                        <span>drawer</span>
                    </p>
                    </p>

                    <div class="example">
                        <div class="drawer">
                            <div class="drawer-menu">
                                <h4 class="menu-heading">Menu</h4>
                                <ul class="menu-list">
                                    <li> -> Item 1</li>
                                    <li> -> Item 2</li>
                                    <li> -> Item 3</li>
                                    <li> -> Item 4</li>
                                </ul>
                            </div>
                            <div class="main-content">
                                <h2 class="content-heading">
                                    Main Content Heading
                                </h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione iste quae sint cupiditate a eos, tenetur, commodi nostrum, totam rerum sapiente laborum corporis illum necessitatibus corrupti. Excepturi velit suscipit, ex aliquam harum, alias veritatis sed odit doloribus omnis animi necessitatibus culpa! Impedit aliquid tempore exercitationem quaerat quibusdam! Modi repellendus, distinctio minima voluptas tempore asperiores aliquid laborum molestias dignissimos.</p>
                            </div>
                        </div>
                    </div>

                    <pre>
                        <code class="language-html highlight-code">
                &lt;div class="drawer"&gt;

                            &lt;div class="drawer-menu"&gt;
                                &lt;h4 class="menu-heading"&gt;Menu&lt;/h4&gt;
                                &lt;ul class="menu-list"&gt;
                                    &lt;li&gt; -&gt; Item 1&lt;/li&gt;
                                    &lt;li&gt; -&gt; Item 2&lt;/li&gt;
                                    &lt;li&gt; -&gt; Item 3&lt;/li&gt;
                                    &lt;li&gt; -&gt; Item 4&lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/div&gt;

                            &lt;div class="main-content"&gt;
                                &lt;h2 class="content-heading"&gt;
                                    Main Heading
                                &lt;/h2&gt;
                                &lt;p&gt; Main Content &lt;/p&gt;
                            &lt;/div&gt;
                &lt;/div&gt;
                        </code>
                    </pre>

                </div>

                <div class="seperator">
                    <h4 class="sub-heading">
                        Dismissible Drawer (for small screens)
                    </h4>
                    <p>
                        This type of drawer is usually used for mobile screens.
                    <p class="usage-area">
                        Class-Usage :
                        <span>drawer-dismissible</span>
                    </p>
                    </p>

                    <div class="example">
                        <div class="drawer drawer-dismissible">
                            <div class="dismissible-drawer-menu menu-hidden">
                                <div class="close-icon">
                                    <ion-icon name="close-outline"></ion-icon>
                                </div>
                                <h4 class="menu-heading">Menu</h4>
                                <ul class="menu-list">
                                    <li> -> Item 1</li>
                                    <li> -> Item 2</li>
                                    <li> -> Item 3</li>
                                    <li> -> Item 4</li>
                                </ul>
                            </div>
                            <div class="dismissible-main-content expanded-main-content">
                                <div class="menu-icon">
                                    <ion-icon name="menu-outline"></ion-icon>
                                </div>
                                <h2 class="content-heading">
                                    Main Content Heading
                                </h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione iste quae sint cupiditate a eos, tenetur, commodi nostrum, totam rerum sapiente laborum corporis illum necessitatibus corrupti. Excepturi velit suscipit, ex aliquam harum, alias veritatis sed odit doloribus omnis animi necessitatibus culpa! Impedit aliquid tempore exercitationem quaerat quibusdam! Modi repellendus, distinctio minima voluptas tempore asperiores aliquid laborum molestias dignissimos.</p>
                            </div>
                        </div>
                    </div>

                    <pre>
                        <code class="language-html highlight-code">
                &lt;div class="drawer drawer-dismissible"&gt;

                            &lt;div class="dismissible-drawer-menu menu-hidden"&gt;
                                &lt;div class="close-icon"&gt;
                                    &lt;ion-icon name="close-outline"&gt;&lt;/ion-icon&gt;
                                &lt;/div&gt;
                                &lt;h4 class="menu-heading"&gt;Menu&lt;/h4&gt;
                                &lt;ul class="menu-list"&gt;
                                    &lt;li&gt; -&gt; Item 1&lt;/li&gt;
                                    &lt;li&gt; -&gt; Item 2&lt;/li&gt;
                                    &lt;li&gt; -&gt; Item 3&lt;/li&gt;
                                    &lt;li&gt; -&gt; Item 4&lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/div&gt;

                            &lt;div class="dismissible-main-content expanded-main-content"&gt;
                                &lt;div class="menu-icon"&gt;
                                    &lt;ion-icon name="menu-outline"&gt;&lt;/ion-icon&gt;
                                &lt;/div&gt;
                                &lt;h2 class="content-heading"&gt;
                                    Main Content Heading
                                &lt;/h2&gt;
                                &lt;p&gt; Main Content &lt;/p&gt;
                            &lt;/div&gt;
                &lt;/div&gt;
                        </code>
                    </pre>

                </div>
            </div>
        </main>
        <footer>
            <div class="left-link">
                <a href="../card/card.html">
                    <ion-icon name="chevron-back"></ion-icon>
                    <span>Card</span>
                </a>
            </div>
            <div class="right-link">
                <a href="../grid/grid.html">
                    <span>Grid</span>
                    <ion-icon name="chevron-forward"></ion-icon>
                </a>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>