@import url('../css/shared.css');
@import url('.././avatar/avatar.css');

.badge{
    position: relative;
    width:max-content;
}

.badge > div{
    border-radius: 50%;
    position: absolute;
}

.online{
    height:1.2rem;
    width:1.2rem;
    bottom:1%;
    right:1%;
    background-color:var(--success);
    border:2px solid var(--text-white);
}

.sleep{
    height:1.2rem;
    width:1.2rem;
    bottom:1%;
    right:1%;
    background-color:var(--secondary);
    border:2px solid var(--text-white);
}

.dnd{
    height:1.2rem;
    width:1.2rem;
    bottom:1%;
    right:1%;
    background-color:var(--danger);
    border:2px solid var(--text-white);
}

.numbered{
    padding: 1.2rem;
    top: -20%;
    right: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    border: none;
    background-color: var(--text-primary);
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
}

.numbered-success{
    padding: 1.2rem;
    top: -20%;
    right: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    border: none;
    background-color: var(--success);
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
}

.badge .numbered-danger{
    padding: 1.2rem;
    top: -20%;
    right: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    height: 2rem;
    width: 2rem;
    border: none;
    background-color:var(--danger);
    font-size: 1.1rem;
    border-radius: 999px;
}


@media only screen and (max-width:764px){

    .badge ion-icon{
        font-size: 3.6rem;
    }

}
